<% if (title) { %>
    <h1><%- title %></h1>
<% } else {res.redirect('/') } %>
  
<%# Unity 4, activity %>
<%- messages() %>
  
  
<div class = "content">
    <section id="form">
        <form id="loginForm" action="/account/login" method="post"></form>
            <fieldset>
            <label for="account_email">Email:</label><br>
            <input type="email" id="account_email" name="account_email" required><br><br>
            <label for="account_password">Password:</label><br>
            <input type="password" id="account_password" name="account_password" required />
            <br><br>
            <input id="pswdBtn" type="button" value="Show Password"><br><br>
            <input type="submit" value="Login">
            </fieldset>
        </form>
        <p>No account? <b><a href="/account/register">Sign-up</a><b></p>
    </section>
</div>

<script src="/js/script.js"></script>
