/******* Change Box Model ***************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
.body {
  align-content: center;
  background: url("../images/site/small_check.jpg") no-repeat center center
    fixed;
}
html {
  font-size: 64%;
  font-family: "Roboto", sans-serif;
}

/*** header section***/
#top-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  font-family: "  Roboto", sans-serif;
}

#top-header a {
  text-decoration: none;
  color: black;
  padding-bottom: 10rem;
}
.siteName {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}
#tools {
  font-size: 1.5rem;
  padding-right: 2rem;
}

/****Navigation Section ****/
nav {
  background-color: black;
  color: white;
  margin: 1rem;
  font-size: 1.6rem;
}
nav li {
  display: inline-block;
  margin: 0 auto;
  padding: 1%;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav ul {
  text-align: center;
  padding-inline-start: 0;
}

main {
  width: 100%;
  margin: 0;
  padding-bottom: 1rem;
  align-items: center;
}

/**** Index Homepage Section ****/
h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-right: 11px;
}
.dmc-del h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-right: 11px;
}
.car-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 5rem;
}

.dmc-del-box {
  position: relative;
  color: rgb(17, 100, 184);
}

.dmc-del {
  position: absolute;
  color: rgb(3, 113, 223);
  left: 5%;
  top: 8px;
  padding-bottom: 1rem;
  background-color: (255 255 255);
  box-shadow: 5px 10px 10px whitesmoke;
}

.dmc-del li {
  list-style: none;
  margin-left: -3.3rem;
  font-size: 1.8rem;
}

.dmc-del ul {
  background-color: rgb((255 255 255));
  margin-bottom: 2.5rem;
}

.dmc-del span {
  font-weight: bold;
  color: black;
  background-color: dodgerblue;
  padding: 5px;
  font-size: 1.8rem;
}

/*** Reviews Section ***/
.deloreanReviews li {
  margin-left: -2rem;
  padding-bottom: 0.8rem;
  font-size: 1.7rem;
  color: black;
}

/*** Upgades Section ***/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.upgradeBox {
  text-align: center;
  border: solid 2px;
  background-color: dodgerblue;
  text-align: center;
  color: black;
}
.grid {
  grid-column: 2;
  margin-top: -150px;
}
.upgradeList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.photoUpgrade {
  display: grid;
  margin-left: -2rem;
  padding-bottom: 0.7rem;
  font-size: 1.4;
}
/*** footer Section ***/
footer {
  font-size: 1.7rem;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* customs */

.vehicle-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: medium;
}

.vehicle-detail {
  flex-basis: calc(50% - 1rem);
  margin-bottom: 2rem;
}

.vehicle-detail img {
  max-width: 100%;
  height: auto;
}

.vehicle-info {
  margin-top: 1rem;
}

.vehicle-info p {
  margin: 0.5rem 0;
}

.vehicle-description {
  flex-basis: 100%;
}

.vehicle-description h2 {
  margin: 1rem 0;
}
/*  Add Classification Formatting */
#classificationForm {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4c96d7;
}
@media screen and (min-width: 768px) {
  body {
    margin: 40px;
    padding: 40px;
    background-color: white;
    border-style: solid;
    border-color: #13a4a4;
    border-radius: 1rem;
    border-width: 0.5rem;
  }
  html {
    background: url("../images/site/small_check.jpg") no-repeat center center
      fixed;
  }
  h1 {
    font-size: 2.6rem;
  }
  .dmc-del {
    position: absolute;
    left: 14%;
    top: 150px;
  }
}
/***** css for the add classification form***/
form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2a449c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
