<% if (title) { %>
<h1><%- title %></h1>
<% } else {res.redirect('/') } %> 
<%# Unity 4, activity %> 
<%- messages() %>

<h3><a href="/inv/addclassification">Add New Classification</a></h3>
<h3><a href="/inv/addinventory">Add New Vehicle</a></h3>
